version: '3'
services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: hadoop-master
    ports:
      - "9870:9870"   # HDFS UI
      - "8088:8088"   # YARN UI (ResourceManager)
    environment:
      - CLUSTER_NAME=test
    volumes:
      - namenode:/hadoop/dfs/name
    networks:
      - hadoop

  datanode1:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: hadoop-worker1
    volumes:
      - datanode1:/hadoop/dfs/data
    networks:
      - hadoop
    depends_on:
      - namenode

  datanode2:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: hadoop-worker2
    volumes:
      - datanode2:/hadoop/dfs/data
    networks:
      - hadoop
    depends_on:
      - namenode

networks:
  hadoop:

volumes:
  namenode:
  datanode1:
  datanode2:
